@font-face {
  font-family: Oswald-Regular;
  src: url(fonts/Oswald-Regular.ttf);
}

@font-face {
  font-family: Oswald-SemiBold;
  src: url(fonts/Oswald-SemiBold.ttf);
}

html, body {
  height: 100%;
}

body {
  font-family: Oswald-Regular, Arial, Helvetica, sans-serif;
  letter-spacing: .1em;
  margin: 0;
  padding: 0;
  background: #452466;
  color: #fff;
}

p {
  color: #E6BBEA;
  font-size: 1.2em;
}

button {
  font-family: Oswald-SemiBold, Arial, Helvetica, sans-serif;
  appearance: button;
  background-color: #544266;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.2em;
  letter-spacing: .2em;
  outline: none;
  overflow: visible;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:after {
  background-clip: padding-box;
  background-color: #9B50E6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

button:main,
button:focus {
  user-select: auto;
}

button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

button:disabled {
  cursor: auto;
}